DISCORD FOR NEWS.json
{
  "name": "DISCORD FOR NEWS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        144
      ],
      "id": "5ae4e5ee-ba08-4db4-9391-9f04f44a558c",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.cbsnews.com/latest/rss/world",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -432,
        144
      ],
      "id": "21d19110-a671-431d-ae0c-30356bdfdb31",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        336,
        144
      ],
      "id": "b241ff1b-96ac-43cb-b20f-9cd796f4f237",
      "name": "Discord",
      "webhookId": "a7df7c19-1269-4e81-9f4d-1ece424169e1",
      "credentials": {
        "discordWebhookApi": {
          "id": "qTJ2VClmdtyWE4vi",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "4f39928b-f9fd-4183-b49a-c7d5ccbde9d8",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.link }}\n{{ $json.content }}\n{{ $json.contentSnippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "summarize the incoming content and contentsnippet in one small paragraph. dont ask further suggestive questions."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16,
        144
      ],
      "id": "df9e8ff6-9e76-4fba-8920-ea1144ca60d2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -80,
        384
      ],
      "id": "92c256e8-330f-4289-88fd-cde8b8970bf9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ph3xfcbuywVNVgos",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c699660-466b-4ad5-841c-cdfc9da08bba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6dcbdb6bb5f634a7c73f1460e307f883aebbeb5dee2d5efe3859e0bb3a7bdead"
  },
  "id": "lV2yWuRNYETziW6P",
  "tags": []
}